.gallery {
  padding-bottom: var(--section-pb);


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &-tabs {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 32px;
    }

    @include mobile {
      overflow-x: auto;
    }
  }

  &-tabs__btn {
    padding: 10px 20px;
    background-color: var(--main-green);
    border-radius: 20px;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-black);
    transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out,
                outline 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      background-color: var(--main-green);
      color: var(--text-black);
      outline: 2px solid var(--deep-green);
    }

    &:hover {
      background-color: var(--deep-green);
      color: var(--text-white);
    }

    &:active {
      background-color: var(--dark-green);
      color: var(--text-white);
    }
  }

  &-tabs__btn--active {
    background-color: var(--dark-green);
    color: var(--text-white);
    transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out;
    pointer-events: none;
  }

  &__list {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: var(--main-green);

    @include small-tablet {
      align-items: center;
    }

    &__content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      padding-top: 16px;
      padding-bottom: 10px;
    }

    &__author {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
      color: var(--text-gray);
    }

    &__title {
      margin: 0;
      margin-bottom: 8px;
      font-size: 30px;
      line-height: 35px;
      font-weight: 500;
      color: var(--text-black);
    }

    &__price {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 24px;
      color: var(--deep-green);
    }

    &__descr {
      display: inline-block;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 21px;
      color: var(--text-black);
    }
  }

  &__btn {
    margin-top: auto;
    width: 100%;
  }
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}
