.header {
  padding: 31px 0;
  background-color: var(--main-green);

  @include small-tablet {
    padding: 16px 0;
  }

  @include mobile {
    background-color: #fff;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      justify-content: space-evenly;
    }

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__left {
    @include small-tablet {
      margin-bottom: 15px;
      //background-color: #fff;
    }
  }

  &__right {
    display: flex;

    @include small-tablet {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      border-top: 1px solid var(--text-gray);
    }

    @include mobile {
      padding: 16px 15px;
      background-color: var(--main-green);
      border-top: none;
    }
  }
}

.cart {
  stroke: var(--text-black);
  transition: stroke 0.3s ease-in-out;

  &:focus svg {
    outline: none;
  }

  &:focus-visible svg {
    stroke: var(--main-green);
  }

  &:hover svg {
    stroke: var(--deep-green);
  }

  &:active svg {
    stroke: var(--deep-green);
  }

  &:visited svg {
    stroke: var(--deep-green);
  }
}

.nav {
  @include mobile {
    position: fixed;
    left: 0;
    top: 121px;
    z-index: 1000;
    oveflow-y: auto;
    padding: 30px;
    width: 60%;
    max-width: 300px;
    height: calc(100vh - 63px);
    background-color: var(--main-green);
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;

    &--visible {
      transform: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 60px;

    @include small-tablet {
      width: 100%;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    color: var(--text-black);
    font-size: 20px;
    line-height: 23px;
    transition: color 0.3s ease-in-out;

    @include tablet {
      font-size: 18px;
      line-height: 21px;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: var(--text-black);
    }

    &:hover {
      color: var(--deep-green);
    }

    &:active {
      color: var(--deep-green);
    }

    &:visited {
      color: var(--deep-green);
    }
  }

  &__el:not(:last-child) {
    margin-right: var(--margin-list);

    @include tablet {
      margin-right: 60px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

.burger {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;

  @include mobile {
    display: block;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--text-black);
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-black);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active .burger__line {
    opacity: 0;
  }

  &--active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  &--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }
}
