.hero {
  padding-bottom: var(--section-pb);

  @include tablet {
    padding-top: 42px;
  }

  &__img {
    grid-column: 6 span;

    @include tablet {
      grid-column: 5 span;
    }

    @include mobile {
      display: none;
    }
  }

  &__content {
    padding-top: 145px;
    grid-column: 6 span;

    @include tablet {
      padding-top: 5px;
      grid-column: 7 span;
    }

    @include mobile {
      grid-column: 12 span;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    color: var(--text-black);
    font-size: 40px;
    line-height: 100%;

    span {
      color: var(--deep-green);
    }
  }

  &__text {
    color: var(--text-gray);
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 40px;
  }

  &__btn {

    @include mobile {
      width: 100%;
    }
  }
}
