.new {
  padding-top: var(--section-pb);
  padding-bottom: var(--section-pb);
  overflow: hidden;
  background-image: url(../img/section-new.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    background-image: url(../img/section-new_tab.jpg);
  }


  &__title {
    max-width: 521px;
    padding-left: 100px;
    font-size: 40px;
    line-height: 100%;
    font-weight: 500;
    color: var(--text-white);
    background-image: url(../img/svgicons/star.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px 80px;
    background-repeat: no-repeat;

    @include tablet {
      font-size: 30px;
    }
  }

  &__content {
    max-width: 520px;
    margin-bottom: 60px;
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: var(--text-white);
  }

  &__btn {
    @include mobile {
      width: 100%;
    }
  }
}
