$black: #0a0b0b;
$white: #ffffff;
$b-border: #dc5dfc;
$secondary-background: #393b3c;
$background-disabled: #747474;
$content-active: #b4a9ff;
$content-primary: #fff;
$content-error: #ff7575;
$content-secondary: #d9d9d9;
$content-brand-active: #6a5dc2;
$content-brand-disabled: #d6d2f1;
$content-disabled: #ffffff80;

$font-size-s: 12px;
$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-title: 48px;
$font-size-section-title: 40px;

/* ratings */
$rating-top: #a59400;
$rating-good: #308e21;
$rating-average: #777777;
$rating-bad: #c82020;

$mobile: 640px;
